<header class="px-40 w-full h-20 flex items-center justify-between border-b-2 shadow-lg top-0 fixed bg-white">

    <div>
        <a href="{% url 'core:home' %}" class="mr-5 font-semibold hover:text-red-400">Home</a>
        <a href="{% url 'contents:movies' %}" class="mr-5 font-semibold hover:text-red-400">Movie</a>
        <a href="{% url 'contents:tvs' %}" class="mr-5 font-semibold hover:text-red-400">TV</a>
    </div>

    <div>

        {% if user.is_authenticated %}
            <span class="ml-5 font-semibold hover:text-red-400">Profile</span>
            <a href="{% url 'users:logout' %}" class="ml-5 font-semibold hover:text-red-400">Log Out</a>
        {% else %}
            <a href="{% url 'users:signup' %}" class="ml-5 font-semibold hover:text-red-400">Sign Up</a>
            <a href="{% url 'users:login' %}" class="ml-5 font-semibold hover:text-red-400">Log In</a>
        {% endif %}

    </div>

</header>