{% extends 'base.html' %}

{% block page_title %}
    HOME
{% endblock page_title %}

{% block content %}
    <div>
        <ul>
            
            
            {% for review in reviews %}
                
                <div class="border-2 mb-5 w-full">
                    <div class="w-full h-10 flex items-center justify-between border-b-2 px-10 ">
                        <div>
                            <span>{{review.user.username}}</span> <span class="text-sm">left comment on</span> <span>{{review.content}}</span>
                        </div>
                        <div>
                            <span class="text-sm text-gray-400">{{review.created}}</span>
                        </div>
                    </div>
                    <div class="w-full h-20 px-10 min-h-min flex items-center">
                        <img src="{{ review.content.poster_path }}" class="h-5/6 max-h-40 mr-3">
                        <span>{{review.comment}}</span>
                    </div>
                </div>

            {% endfor %}
                
                
        </ul>
    </div>
{% endblock content %}
    