{% extends 'base.html' %}

{% block page_title %}
    HOME
{% endblock page_title %}

{% block content %}
    <div>
        <ul>
            
            
            {% for review in reviews %}
                
                <div>
                    <span>{{review.user.username}}</span>
                    <span>{{review.created}}</span>
                    <span>{{review.comment}}</span>
                    <span>{{review.content}}</span>
                </div>

            {% endfor %}
                
                
        </ul>
    </div>
{% endblock content %}
    