{% extends 'base.html' %}

{% block page_title %}
    HOME
{% endblock page_title %}

{% block content %}
    <div>
        <ul>
            
            
            {% for review in reviews %}
                
                <div class="border-2 mb-5 w-full">
                    <div>
                        <div>
                            <span>{{review.user.username}}</span>
                            <span>{{review.content}}</span>
                        </div>
                        <div>
                            <span>{{review.created}}</span>
                        </div>
                    </div>
                    <div>
                        <span>{{review.comment}}</span>
                    </div>
                </div>

            {% endfor %}
                
                
        </ul>
    </div>
{% endblock content %}
    