{% extends 'base.html' %}

{% block page_title %}
    Contents
{% endblock page_title %}

{% block content %}
    
    <div class="grid grid-cols-4 gap-4">
        
        {% for content in contents %}
            <a href="{% url 'contents:single_content' content.pk %}">
                <div class="border-2 h-80 flex flex-col">
                    <div class="flex justify-center h-2/3 pt-5">
                        <img src="{{ content.poster_path }}" class="h-full">
                    </div>
                    <div class="h-1/3 flex flex-col justify-center items-center px-10">
                        <div class="flex justify-center">
                            <span class="font-bold text-lg text-center">{{ content.title }}</span>
                        </div>
                        <div class="flex flex-col items-center">
                            <span class="text-sm">Rating: <span class="font-semibold text-red-400">{{ content.rating }}</span></span>
                            <span class="text-sm">Comments: <span class="font-semibold text-red-400">{{ content.count_reviews }}</span></span>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
            
    </div>

{% endblock content %}
