{% extends 'base.html' %}

{% block page_title %}
    {{ content.title }}
{% endblock page_title %}

{% block content %}
    
    <div>
        <div class="h-96 flex mb-16 justify-between">
            <div class="flex flex-col justify-between">
                <span class="text-5xl font-bold">{{ content.title }}</span>
                <p>{{ content.overview }}</p>
                <div class="flex flex-col">
                    <span>유형: {{ content.media_type | upper }}</span>
                    <span>개봉일: {{ content.released }}</span>
                    <div>
                        {% for genre in content.genres.iterator %}
                            <span class="font-semibold hover:underline hover:text-red-400">#{{genre}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <img src="{{ content.poster_path }}" class="h-full ml-20">
        </div>
        <div>
            <div class="mb-5 flex justify-between items-center">
                <div>
                    <span class="font-bold text-3xl">Reviews</span>
                    <div >
                        <span class="text-lg">Rating: <span class="font-semibold text-red-400">{{ content.rating }}</span> / </span>
                        <span class="text-lg">Comments: <span class="font-semibold text-red-400">{{ content.count_reviews }}</span></span>
                    </div>
                </div>
                
                {% if user.is_authenticated %}
                <a href="{% url 'reviews:create' pk=content.pk %}">
                    <div class="flex items-center justify-center bg-red-400 px-10 py-5 rounded-xl">
                        <span class="text-white font-bold text-xl">Leave Comment</span>
                    </div>
                </a>
                {% endif %}
                    
            </div>

            {% for review in reviews %}
                
                {% include 'mixins/comment.html' with review=review %}

            {% endfor %}
                
        </div>
    
    </div>

{% endblock content %}
    