{% extends 'base.html' %}

{% block page_title %}
    {{ user_obj.username }}'s Profile
{% endblock page_title %}

{% block content %}
    
    <div>
        <div>
            <span class="text-5xl font-bold mr-5">
            {% if user.is_authenticated and user == user_obj %}
                내 프로필
            {% else %}
                {{ user_obj.username}}
            {% endif %}
            </span>
        </div>

        <div class="mt-20">
            <span class="text-xl">
                <span class="font-bold">{% if user.is_authenticated and user == user_obj %}
                        내가
                    {% else %}
                        {{ user_obj.username}} 님이
                    {% endif %}
                </span> 남긴 리뷰 ({{ user_obj.count_reviews }})</span>
            <div class="mt-5">
                {% for review in reviews %}
                    
                    {% include 'mixins/comment.html' with review=review %}

                {% endfor %}
            </div>
                
        </div>
    
    </div>

{% endblock content %}
