{% extends 'base.html' %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block content %}

    <div class="text-5xl font-bold mb-28">
        Sign Up
    </div>
    
    <div>

        <form method="POST" enctype="multipart/form-data" class="w-2/3  mx-auto flex flex-col">
            {% csrf_token %}

            <div class="mx-auto">
                {% for field in form %}
                    <div class="flex justify-between mb-5">
                        <span class="mr-10">{{ field.label }}</span>
                        <div class="input-div border-2">{{ field }}</div>
                    </div>
                {% endfor %}
            </div>

            <button class="mx-auto mt-10 bg-red-400 w-20 h-10 rounded-xl"><span class="text-white">Sign Up</span></button>
        </form>
    </div>

{% endblock content %}
